[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
streamlit = "==1.33.0"
requests = "==2.32.1"
azure-storage-blob = "==12.19.1"
numpy = "==1.26.0"
Jinja2 = "==3.1.4"
idna = "==3.7"

[dev-packages]
pylint = "==3.1.0"
autopep8 = "2.1.0"
pytest-watch = "4.2.0"

[requires]
python_version = "3.12"
